# Entornos virtuales
.venv
venv/

# Archivos de secretos y configuración local
*.env
service_account.json
client_secret.json
token.json

# Bases de datos locales
sessions.db
*.sqlite3

# Archivos de caché de Python
__pycache__/
*.py[cod]

# Archivo de versión de Python (pyenv)
.python-version